body {
  text-align: center;
  background-color: #4d4554;
}

#level-title {
  font-family: "Press Start 2P", cursive;
  font-size: 3rem;
  margin: 5%;
  color: #fef2bf;
}

.container {
  display: block;
  width: 50%;
  margin: auto;
}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: #ff686b;
}

.green {
  background-color: #adf7b6;
}

.blue {
  background-color: #809bce;
}

.yellow {
  background-color: #ffee93;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
